<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cupcakes</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>TEST for AWS!</h1>

<ul id="properties-list">
</ul>

<h2>Add a new property!</h2>

<form id="new-property-form">
  <div>
    <label for="form-name">Name: </label>
    <input name="name" id="form-name">
  </div>

  <div>
    <label for="form-description">description: </label>
    <input name="description" id="form-description">
  </div>

  <div>
    <label for="form-address">Address: </label>
    <input type="number" name="address" id="form-address">
  </div>

  <div>
    <label for="form-image">Images (change input type to upload file): </label>
    <input name="image" id="form-image">
  </div>

  <button type="submit">Add!</button>
</form>

</body>
</html>