<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cupcakes</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>TEST for AWS!</h1>

<ul id="properties-list">
</ul>

<h2>Add a new property!</h2>

<form id="new-property-form" method="POST" enctype="multipart/form-data">
  <div>
    <label for="form-name">Name: </label>
    <input name="name" id="form-name">
  </div>

  <div>
    <label for="form-description">Description: </label>
    <input name="description" id="form-description">
  </div>

  <div>
    <label for="form-address">Address: </label>
    <input type="text" name="address" id="form-address">
  </div>

  <div>
    <label for="form-price">Price: </label>
    <input type="number" name="price" id="form-price">
  </div>

  <div>
    <label for="form-backyard">Backyard: </label>
    <input type="checkbox" name="backyard" id="form-backyard">
  </div>

  <div>
    <label for="form-pool">Pool: </label>
    <input type="checkbox" name="pool" id="form-pool">
  </div>

  <div>
    <label for="form-image">Image: </label>
    <input type="file" name="image" id="form-image">
  </div>

  <button type="submit" value="Upload">Add!</button>
</form>

</body>
</html>